[user]
  name = Bo-Yi Wu
  email = appleboy.tw@gmail.com
[push]
  default = simple
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
  log = auto
  ui = auto
[branch]
    autosetuprebase = always
[alias]
  gl = log -16 --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'
  gr = log --color=always --all --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset'
  gs = log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short
  gw = log --no-merges --raw --since='4 weeks ago'
  fl = log --follow -p --

  merge = merge --no-ff
  up = merge --ff-only

  co = checkout
  ci = commit -s

  st = status
  stat = status

  br = branch -v

  fo = fetch origin
  fu = fetch upstream
  po = push origin
  pu = pull --rebase origin master

  unstage = reset HEAD
  uncommit = reset --soft HEAD^
  amend = commit --amend
  who = shortlog -n -s --no-merges
  g = grep -n --color -E
  cp = cherry-pick -x

  # Handy shortcuts for rebasing
  rc = rebase --continue
  rs = rebase --skip
  ra = rebase --abort

  # diff-so-fancy
  df = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"

[core]
    editor = vim
[color]
  # Use colors in Git commands that are capable of colored output when outputting to the terminal
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
